{% extends "users/index.html" %}

{% block title %}Browse Events{% endblock %}


{% block content2 %}


<table id="event-list">

    <tr>
      <td><b>Start</b></td>
      <td><b>End</b></td>
      <td><b>Type</b></td>
      <td><b>Location</b></td>
      <td><b>Details</b></td>
    </tr>

	{% for event in events %}
		<tr>
      <td>{{event.start}}</td>
      <td>{{event.end}}</td>
			<td>{{event.get_event_type_display}}</td>
			<td>{{event.event_location}}</td>
      <td><input class="event-details" type="button" 
            onClick="location.href='/townsquare/event/edit/{{event.id}}'"></input></td>
		</tr>
  {% endfor %}

</table>

{% endblock %}

