{% extends "users/index.html" %}

{% block title %}Browse Volunteers{% endblock %}

{% block content2 %}

<table id="volunteer_list">

  <tr>
    <th>Name</th>
    <th>Sign-up Date</th>
    <th>Credentials</th>
    <th>Hours</th>
    <th>Store Credit</th>
    <th>Permission Level</th>
    <th>Account Info</th>
  </tr>

  {% for volunteer in volunteers %}
  <tr>
    <td>{{ volunteer.full_name }}</td>
    <td>{{ volunteer.signup_date }}</td>
    <td>{{ volunteer.credentials }}</td>
    <td>{{ volunteer.hours }}</td>
    <td>{{ volunteer.credit }}</td>
    <td>{{ volunteer.permission }}</td>    
    <td><input class="volunteer-details" type="button" 
            onClick="location.href='/townsquare/volunteer/edit/{{volunteer.id}}'"></input></td>
  </tr>
  {% endfor %}
	
</table>

{% endblock %}
