{% extends "users/index.html" %}

{% block title %}Browse Volunteers{% endblock %}

{% block content2 %}

<table id="volunteer_list">

  <tr>
    <th>Name</th>
    <th>Hours</th>
    <th>Details</th>
  </tr>

  {% for volunteer in volunteers %}
  <tr>
    <td>{{ volunteer.full_name }}</td>
    <td>{{ volunteer.hours }}</td>
    <td><input class="volunteer-details" type="button" 
            onClick="location.href='/townsquare/volunteer/edit/{{volunteer.id}}'"></input></td>
  </tr>
  {% endfor %}
	
</table>

{% endblock %}
