{% extends "users/index.html" %}

{% block title %}Browse Events{% endblock %}


{% block content2 %}


<table id="event_list">

    <tr>
      <td>Date</td>
      <td>Time</td>
      <td>Event Type</td>
      <td>Event Location</td>
      <td>Event Details</td>
    </tr>

	{% for event in events %}
	
		<tr>
		
      <td>{{event.date}}</td>
      <td>{{event.start}} to {{event.end}}</td>
			<td>{{event.get_event_type_display}}</td>
			<td>{{event.event_location}}</td>
      <td><input class="event_details" type="button" 
            onClick="location.href='/townsquare/event/edit/{{event.id}}'"></input></td>
		
		</tr>

	{% endfor %}

</table>



{% endblock %}

