{% extends "users/base.html" %}


{% block title %}Welcome {{user}} {% endblock %}


<!--Changing the extranav-->

{% block extranav %}

<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Volunteers<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/townsquare/volunteer/add">Add Volunteer</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="/admin">Admin Login</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
            </li>
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/townsquare/event/add">Add Event</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
            </li>
            
            
            <li><a href="/townsquare/logout">Logout</a></li>
            
{% endblock %}


{% block content2 %}

<!--Second take on the credentials bar-->

<div class="row" style="padding-bottom: 20px;">

	<!--Image-->
	<div class="col-xs-3 col-sm-1 col-md-1 col-lg-1">
	
		<img class="image-responsive" src="{{va.vol_image}}" alt="sandwich" width="50" height="50">
	
	</div>
	
	
	<!--Name-->
	<div class="col-xs-9 col-sm-3 col-md-3 col-lg-3">
	
		{{va.full_name}}
	
	
	</div>	
	
	
	
	<!--Credentials-->
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
	
		<!--Could probably put in a loop to separate creds by commas-->
		{{va.credentials}}
	
	
	</div>
	
	
	<!--Edit bar-->
	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	
		<p>Edit Account</p>
	
	
	</div>


	

</div>





<div class="row">

<!-- Badge area -->
<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">

	<canvas id="badgearea" width="300" style="border:1px solid #000000; 
	background-color=orange;"> 	
	<script>
	
	var c=document.getElementById("badgearea");
	var ctx=c.getContext("2d");
	ctx.font="30px Arial";
	ctx.fillText("{{va.name}}", 10, 50);
	ctx.font="20px Arial";
	ctx.fillText("{{va.credentials}}", 10, 80);
	ctx.font="13px Arial";
	ctx.fillText("Ask me about:", 10, 100);
	
	
	</script>
	
	
	</canvas>
	
	
	<!--<canvas id="badgearea2">
	
	<script>
	
	badgewrite();
	
	</script>
	
	
	</canvas>-->
	


</div>



<!-- Stats area -->
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

	<table id="volunteer_list">
	
		<tr>
		
			<td>Last Month:</td>
			<td>Last Seen:</td>
		
		</tr>
	
		<tr>
		
			<td>Year to Date:</td>
			<td>Started: {{va.signup_date}}</td>
		
		</tr>
		
		<tr>
		
			<td>Total Hours: {{va.hours}}</td>
			<td>Reward Credits: {{va.credit}}</td>
		
		</tr>
	
	</table>

</div>

</div>

{% endblock %}
