{% extends "users/index.html" %}

{% block title %}Browse Volunteers{% endblock %}


{% block content2 %}


<div id="volrec">

	<input class="typeahead" type="text" placeholder="Type name of Volunteer">

</div>





<!--<table id="volunteer_list">

	<tr>
	
		<th>Name</th>
		<th>Hours</th>
	
	</tr>


	{% for volunteer in volunteers %}
	
		<tr>
		
			<td>{{volunteer.user.first_name}} {{volunteer.user.last_name}}</td>
			
			<td>{{volunteer.hours}}</td>
		
		
		</tr>


	{% endfor %}

</table>-->



{% endblock %}
